body {
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --bgc-first: #f5f5f5;
  --bgc-second: #f5f4fa;
  --bgc-third: #2f303a;
  --bgc-forth: rgba(255, 255, 255, 0.1);
  --bgc-fifth: rgba(47, 48, 58, 0.8);
  --bgc-sixth: rgba(33, 150, 243, 0.9);
  --bgc-seventh: rgba(255, 255, 255, 0.3);
  --bgc-backdrop: rgba(0, 0, 0, 0.2);
  --color-text: #757575;
  --color-heading: #212121;
  --color-brand: #000000;
  --color-accent: #2196f3;
  --color-revers: #ffffff;
  --color-border: #eeeeee;
  --color-border-header: #ececec;
  --color-link-sosials: #afb1b8;
  --color-modal: rgba(0, 0, 0, 0.1);
  --colot-text-second: rgba(255, 255, 255, 0.6);
  --color-border: rgba(33, 33, 33, 0.2);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --color-box-shadow: rgba(0, 0, 0, 0.15);
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  color: var(--color-revers);
  background-color: var(--color-accent);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.section-title {
  margin-bottom: 30px;
  color: var(--color-heading);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 32px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo-main {
  color: var(--color-brand);
}

.logo-revers {
  color: var(--color-revers);
}

.logo__span {
  color: var(--color-accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .logo__span {
    font-size: 26px;
  }
}

/* Mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: var(--color-revers);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: inherit;
}
.mobile-menu__list {
  padding-right: 280px;
}
.mobile-menu__link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 2%;
  color: var(--color-heading);
  text-decoration: none;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--color-accent);
}
.mobile-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-right: 250px;
  margin-bottom: 64px;
}
.mobile-menu__contacts-item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 2%;
  color: var(--color-text);
  text-decoration: none;
}
.mobile-menu__contacts-item:hover, .mobile-menu__contacts-item:focus {
  font-size: 30px;
  color: var(--color-accent);
}
@media (min-width: 480px) {
  .mobile-menu__contacts-item:hover, .mobile-menu__contacts-item:focus {
    font-size: 34px;
  }
}
.mobile-menu__socials {
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-menu__socials-item {
  padding-right: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  color: var(--color-accent);
  border-right: 1px solid var(--color-accent);
}
@media (min-width: 480px) {
  .mobile-menu__socials-item {
    font-size: 18px;
  }
}
.mobile-menu__socials-item:last-child {
  border-right: none;
}

.mobile-menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgc-backdrop);
  opacity: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 609px;
  padding: 40px;
  background-color: var(--color-revers);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: scroll;
}
@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid var(--color-modal);
  border-radius: 50%;
  background-color: var(--color-revers);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: var(--color-accent);
}
.modal__heading {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.17;
  color: var(--color-heading);
  text-align: center;
}
.modal__label {
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
}
.modal__input {
  position: relative;
  margin-bottom: 10px;
}
.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__data {
  height: 40px;
  width: 250px;
  padding-left: 42px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .modal__data {
    width: 370px;
  }
}
@media (min-width: 1200px) {
  .modal__data {
    width: 448px;
  }
}
.modal__data:focus {
  border-color: var(--color-accent);
}
.modal__data:focus + .modal__icon {
  fill: var(--color-accent);
}

.modal__textarea {
  height: 120px;
  width: 250px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) {
  .modal__textarea {
    width: 370px;
  }
}
@media (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
  }
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
.modal__textarea:focus {
  border-color: var(--color-accent);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--color-accent);
  border-color: transparent;
}
.checkbox__icon {
  position: absolute;
  left: 52px;
  border: 2px solid var(--color-brand);
  border-radius: 2px;
  background-color: transparent;
}
.checkbox__label {
  position: relative;
  padding-left: 33px;
  font-size: 12px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
@media (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}
.checkbox__item {
  color: var(--color-accent);
}
.checkbox__button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px var(--color-box-shadow);
          box-shadow: 0px 4px 4px var(--color-box-shadow);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-revers);
  cursor: pointer;
}

/* section-advantage */
.section-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0px;
}
@media (min-width: 1200px) {
  .section-advantage {
    padding: 94px 0;
  }
}

@media (min-width: 768px) {
  .advantage-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 768px) {
  .advantage-card__box {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .advantage-card__box {
    width: 270px;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.advantage-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--bgc-second);
}
.advantage-card__title {
  padding-top: 30px;
  color: var(--color-heading);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .advantage-card__title {
    text-align: center;
  }
}
.advantage-card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media (max-width: 1199px) {
  .advantage-card__text {
    padding-bottom: 30px;
  }
}

/* section-cliants */
.section-cliants {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .section-cliants {
    padding: 94px 0;
  }
}

.cliants-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cliants-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 210px;
  height: 92px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  fill: var(--color-link-sosials);
  border: 1px solid var(--color-link-sosials);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .cliants-card__item {
    max-width: 226px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .cliants-card__item {
    max-width: 170px;
  }
}
.cliants-card__item:hover {
  border: 1px solid var(--color-accent);
  fill: var(--color-accent);
}

/* section-filter */
.section-filtre {
  padding-top: 60px;
  padding-bottom: 40px;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .section-filtre {
    padding-bottom: 30px;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .section-filtre {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
.section-filtre__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 16px) / 3);
      flex-basis: calc((100% - 16px) / 3);
}
@media (min-width: 768px) {
  .section-filtre__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section-filtre__button {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--color-heading);
  background-color: var(--bgc-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-filtre__button:hover, .section-filtre__button:focus {
  color: var(--color-revers);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgc-third);
}
.footer__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .footer__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 90px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}
.footer__text {
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--bgc-first);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 165px;
  }
}
@media (min-width: 1200px) {
  .footer__wrapper {
    gap: 90px;
  }
}

.address {
  margin-top: 28px;
}
.address__link {
  color: var(--color-revers);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover {
  color: var(--color-accent);
}

.list-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.list-socials__item {
  width: 44px;
  height: 44px;
}
.list-socials__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--bgc-forth);
  fill: var(--bgc-first);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-socials__icon:hover, .list-socials__icon:focus {
  background-color: var(--color-accent);
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (min-width: 1200px) {
  .form-subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}
.form-subscribe__user-email {
  padding-left: 16px;
  max-width: 358px;
  width: 100%;
  height: 50px;
  background-color: var(--bgc-third);
  color: var(--color-revers);
  border: 1px solid var(--bgc-seventh);
  border-radius: 4px;
}
@media (min-width: 480px) {
  .form-subscribe__user-email {
    width: 450px;
  }
}
.form-subscribe__user-email::-webkit-input-placeholder {
  color: var(--colot-text-second);
  font-size: 16px;
}
.form-subscribe__user-email::-moz-placeholder {
  color: var(--colot-text-second);
  font-size: 16px;
}
.form-subscribe__user-email:-ms-input-placeholder {
  color: var(--colot-text-second);
  font-size: 16px;
}
.form-subscribe__user-email::-ms-input-placeholder {
  color: var(--colot-text-second);
  font-size: 16px;
}
.form-subscribe__user-email::placeholder {
  color: var(--colot-text-second);
  font-size: 16px;
}
.form-subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-revers);
  fill: var(--color-revers);
  cursor: pointer;
}

/* Header */
.header {
  padding: 16px 15px;
  border-bottom: 1px solid var(--color-border-header);
}
@media (min-width: 768px) {
  .header {
    padding: 26px 15px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 24px 15px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: inherit;
}
@media (min-width: 767px) {
  .header__burger {
    display: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--color-text);
  fill: currentColor;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item:hover, .contacts__item:focus {
  color: var(--color-accent);
}
@media (max-width: 1199px) {
  .contacts__item {
    font-size: 12px;
  }
}

/* section-hero */
.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bgc-third);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
  background-size: contain 100%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image@2x.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image@2x.jpg);
  }
}
@media (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 128px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image-mobile.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-mobile.jpg);
    background-size: cover;
  }
}
@media (max-width: 767px) and (min-device-pixel-ratio: 2), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi), (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image-mobile@2x.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-mobile@2x.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 128px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image-tablet.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-tablet.jpg);
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image-tablet@2x.jpg);
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image-tablet@2x.jpg);
  }
}
.hero__title {
  margin-bottom: 30px;
  color: var(--color-revers);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 93px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
@media (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  color: var(--color-heading);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-accent);
}

.nav__link--main {
  position: relative;
  padding-bottom: 32px;
  color: var(--color-accent);
}
.nav__link--main::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: var(--color-accent);
}

/* section-portfolio */
.section-portfolio {
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section-portfolio {
    padding-bottom: 94px;
  }
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .portfolio-card__img {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card__img {
    width: 370px;
  }
}
.portfolio-card__list {
  outline: 1px solid var(--color-border);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__list:hover, .portfolio-card__list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card__list:hover .portfolio-card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-card__unit {
  margin-bottom: 20px;
  margin-left: 24px;
}
.portfolio-card__text {
  border: 1px solid var(--color-border);
}
.portfolio-card__headline {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  color: var(--color-heading);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-card__container {
  position: relative;
  overflow: hidden;
}
.portfolio-card__text {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  background-color: var(--bgc-sixth);
  color: var(--color-revers);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section-team */
.section-team {
  padding: 60px 0;
  background-color: var(--bgc-second);
}
@media (min-width: 1200px) {
  .section-team {
    padding: 94px 0;
  }
}

@media (min-width: 768px) {
  .team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team-card__item {
  margin-bottom: 30px;
  max-width: 767px;
  border: 1px solid var(--color-border);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .team-card__item {
    margin-bottom: 0;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .team-card__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.team-card__item:last-child {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .team-card__item:last-child {
    margin-bottom: 0;
  }
}
.team-card__img {
  width: 100%;
  max-width: 767px;
}
.team-card__title {
  color: var(--color-heading);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-card__text {
  margin-bottom: 16px;
  text-align: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.socials__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  fill: var(--color-link-sosials);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__contant:hover {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  fill: var(--bgc-first);
}

/* section-work */
.section-work {
  padding: 0 0 94px;
}
@media (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work-card__item {
  position: relative;
}
.work-card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-revers);
  background-color: var(--bgc-fifth);
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */