:root {
  --bgc-first: #f5f5f5;
  --bgc-second: #f5f4fa;
  --bgc-third: #2f303a;
  --bgc-forth: rgba(255, 255, 255, 0.1);
  --bgc-fifth: rgba(47, 48, 58, 0.8);
  --bgc-sixth: rgba(33, 150, 243, 0.9);
  --bgc-seventh: rgba(255, 255, 255, 0.3);
  --bgc-backdrop: rgba(0, 0, 0, 0.2);
  --color-text: #757575;
  --color-heading: #212121;
  --color-brand: #000000;
  --color-accent: #2196f3;
  --color-revers: #ffffff;
  --color-border: #eeeeee;
  --color-border-header: #ececec;
  --color-link-sosials: #afb1b8;
  --color-modal: rgba(0, 0, 0, 0.1);
  --colot-text-second: rgba(255, 255, 255, 0.6);
  --color-border: rgba(33, 33, 33, 0.2);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --color-box-shadow: rgba(0, 0, 0, 0.15);
}

body {
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */

.header {
  padding: 25px 15px;
  border-bottom: 1px solid var(--color-border-header);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 93px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.logo {
  color: var(--color-brand);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.link {
  color: var(--color-heading);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--color-accent);
}

.link.link-main {
  position: relative;
  padding-bottom: 32px;
  color: var(--color-accent);
}

.link.link-main::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: var(--color-accent);
}

.header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-link-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--color-text);
  fill: currentColor;
  font-weight: 500;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-item:hover,
.header-link-item:focus {
  color: var(--color-accent);
}

/* section-hero */

.hero-section {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bgc-third);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--color-revers);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  color: var(--color-revers);
  background-color: var(--color-accent);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* section-advantage */

.section-advantage {
  padding: 94px 0;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.advantage-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bgc-second);
}

.hidden-title {
  display: none;
}

.heading-title {
  color: var(--color-heading);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section-work */

.section-work {
  padding: 0 0 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list-item {
  position: relative;
}

.work-list-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-revers);
  background-color: var(--bgc-fifth);
  pointer-events: none;
}

.section-title {
  margin-bottom: 50px;
  color: var(--color-heading);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section-team */

.section-team {
  padding: 94px 0;
  background-color: var(--bgc-second);
}

.team-list {
  display: flex;
  gap: 30px;
}

.heading-subtitle {
  color: var(--color-heading);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.heading-text {
  margin-bottom: 16px;
  text-align: center;
}

.team-list-item {
  border: 1px solid var(--color-border);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-list-contant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  fill: var(--color-link-sosials);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-contant:hover {
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  fill: var(--bgc-first);
}

/* section-cliants */

.section-cliants {
  padding: 94px 0;
}

.cliants-list {
  display: flex;
  gap: 30px;
}

.cliants-list-item {
  display: flex;
  width: 170px;
  height: 92px;
  fill: var(--color-link-sosials);
  border: 1px solid var(--color-link-sosials);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cliants-list-item:hover {
  border: 1px solid var(--color-accent);
  fill: var(--color-accent);
}

/* section-filter */

.section-filtre {
  padding-top: 94px;
  padding-bottom: 34px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button-portfolio {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--color-heading);
  background-color: var(--bgc-second);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--color-revers);
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* section-portfolio */

.section-portfolio {
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item {
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text {
  margin-bottom: 20px;
  margin-left: 24px;
}

.portfolio-item {
  border: 1px solid var(--color-border);
}

.headline {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  color: var(--color-heading);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-container {
  position: relative;
  overflow: hidden;
}

.portfolio-list-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  background-color: var(--bgc-sixth);
  color: var(--color-revers);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-text {
  transform: translateY(0);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgc-third);
}

.adress {
  margin-top: 28px;
}

.logo-revers {
  color: var(--color-revers);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.span {
  color: var(--color-accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.link-footer {
  color: var(--color-revers);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover {
  color: var(--color-accent);
}

.text-join {
  margin-bottom: 20px;
  color: var(--bgc-first);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-content {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-list-sosials {
  display: flex;
  gap: 10px;
}

.footer-list-item {
  width: 44px;
  height: 44px;
}

.footer-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--bgc-forth);
  fill: var(--bgc-first);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon:hover,
.footer-list-icon:focus {
  background-color: var(--color-accent);
}

.input-user-email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: var(--bgc-third);
  color: var(--color-revers);
  border: 1px solid var(--bgc-seventh);
  border-radius: 4px;
}

.input-user-email::placeholder {
  color: var(--colot-text-second);
  font-size: 16px;
}

.button-user-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-revers);
  fill: var(--color-revers);
}

.form-subscribe {
  display: flex;
  gap: 12px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgc-backdrop);
  opacity: 1;
  transition: opacity 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  background-color: var(--color-revers);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid var(--color-modal);
  border-radius: 50%;
  background-color: var(--color-revers);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover,
.button-modal-close:focus {
  fill: var(--color-accent);
}

.modal-heading {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.17;
  color: var(--color-heading);
  text-align: center;
}

.modal-label {
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
}

.modal-input {
  position: relative;
  margin-bottom: 10px;
}

.modal-input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-data {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-data:focus {
  border-color: var(--color-accent);
}

.modal-input-data:focus + .modal-input-icon {
  fill: var(--color-accent);
}

.modal-textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}

.modal-textarea:focus {
  border-color: var(--color-accent);
}

.checkbox-label {
  position: relative;
  padding-left: 33px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.checkbox-terms {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-terms-item {
  color: var(--color-accent);
}

.checkbox-terms-input {
  appearance: none;
}

.checkbox-icon {
  position: absolute;
  left: 52px;
  border: 2px solid var(--color-brand);
  border-radius: 2px;
  background-color: transparent;
}

.checkbox-terms-input:checked + .checkbox-icon {
  background-color: var(--color-accent);
  border-color: transparent;
}

.button-checkbox {
  width: 200px;
  height: 50px;
  margin-left: 120px;
  /* margin: 0 auto; */
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px var(--color-box-shadow);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-revers);
  cursor: pointer;
}
