/* section-advantage */

.section-advantage {
    display: flex;
    padding: 60px 0px;

    @media (min-width: 1200px) {
        padding: 94px 0;
    }
}

.advantage-card {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__box {
        @media (min-width: 768px) {
            // width: 354px;
            flex-basis: calc((100% - 30px) / 2);
        }

        @media (min-width: 1200px) {
            width: 270px;
            flex-basis: calc((100% - 90px) / 4);
        }
    }

    &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--bgc-second);
}

    &__title {
    padding-top: 30px;
    color: var(--color-heading);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media (max-width: 767px) {
        text-align: center;
    }
}

    &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media (max-width: 1199px) {
        padding-bottom: 30px;
    }
}
}
