/* Header */

.header {
    padding: 16px 15px;
    border-bottom: 1px solid var(--color-border-header);

    @media (min-width: 768px) {
        padding: 26px 15px;
    }

    @media (min-width: 1200px) {
        padding: 24px 15px;
    }

    &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    &__burger {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: 1px solid transparent;
            cursor: pointer;
            background-color: inherit;
        @media (min-width: 767px) {
            display: none;
        }
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media (max-width: 767px) {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--color-text);
    fill: currentColor;
    font-weight: 500;
    font-size: 14px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
    color: var(--color-accent);
}

    @media (max-width: 1199px) {
        font-size: 12px;
    }
}
}

