/* section-work */

.section-work {
    padding: 0 0 94px;

    @media (max-width: 1199px) {
        display: none;
    }
}

.work-card {
    display: flex;
    justify-content: space-between;

    &__item {
    position: relative;
}

    &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-revers);
    background-color: var(--bgc-fifth);
    pointer-events: none;
}
}
