.section-title {
    margin-bottom: 30px;
    color: var(--color-heading);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    @media (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 32px;
    }
}