.logo {    
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media (min-width: 1200px) {
        font-size: 26px;
    }
}

.logo-main {
    color: var(--color-brand);
}

.logo-revers {
    color: var(--color-revers);
}

.logo__span {
    color: var(--color-accent);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}