:root {
    --bgc-first: #f5f5f5;
    --bgc-second: #f5f4fa;
    --bgc-third: #2f303a;
    --bgc-forth: rgba(255, 255, 255, 0.1);
    --bgc-fifth: rgba(47, 48, 58, 0.8);
    --bgc-sixth: rgba(33, 150, 243, 0.9);
    --bgc-seventh: rgba(255, 255, 255, 0.3);
    --bgc-backdrop: rgba(0, 0, 0, 0.2);
    --color-text: #757575;
    --color-heading: #212121;
    --color-brand: #000000;
    --color-accent: #2196f3;
    --color-revers: #ffffff;
    --color-border: #eeeeee;
    --color-border-header: #ececec;
    --color-link-sosials: #afb1b8;
    --color-modal: rgba(0, 0, 0, 0.1);
    --colot-text-second: rgba(255, 255, 255, 0.6);
    --color-border: rgba(33, 33, 33, 0.2);
    --color-placeholder: rgba(117, 117, 117, 0.5);
    --color-box-shadow: rgba(0, 0, 0, 0.15);
}